<template>
<div class="normal-page bg-white">
  
  <div style="padding-left:20px" v-html="msg"></div>

</div>

</template>

<script>

export default {
  name: "Service",
  mixins: [],
  components: {},
  data() {
    return {
        msg:"",
        websocketObj: null,
        wsHeartflag: false,
        reconnectTime: 0,
        MAX_CONNECT:10,
        wsHeart:null,
        msgIndex:0,
    };
  },
  created() {
      this.initWebsocket();
  },
  
  methods: {
    initWebsocket(){
        if(typeof(WebSocket) === "undefined"){
            this.msg = "您的浏览器不支持socket";
        }else{
            //https 使用 wss， http 使用 ws
            this.webSocketObj = new WebSocket(
                // "wss://"
                "ws://192.168.31.243:9999/wb"
                // "ws://192.168.31.99:3321"
            );
            this.webSocketObj.onmessage = this.onMessage
            this.webSocketObj.onopen = this.onOpen
            this.webSocketObj.onerror = this.onError
            this.webSocketObj.onclose = this.onClose
        }
    },
    onOpen() {
        if (this.webSocketObj.readyState === 1) {
            //- readyState 等于1 的时候建立链接成功
            this.msg = this.msg+"<br>"+"连接: open success"
            this.wsHeartflag = true;
            this.webSocketObj.send("first msg");
            this.msg = this.msg+"<br>"+"发送: first msg"
            this.reconnectTime = 0;
            this.timingHeart();
        } else {
            this.msg = this.msg+"<br>"+"连接: open failed"
        }
    },
    timingHeart() {
        // 心跳检测
        if (this.wsHeartflag) {
            console.log("readyState==="+this.webSocketObj.readyState);
            this.webSocketObj.send('heart msg');
            this.msg = this.msg+"<br>"+"发送: heart msg "+ this.msgIndex
            this.msgIndex ++;
        }
        this.wsHeart = setTimeout(() => {
            this.timingHeart();
        }, 10 * 1000); // 10s心跳
    },
    onMessage(evt) {
        console.log("received=="+evt)
        this.msg = this.msg+"<br>"+"接收："+JSON.stringify(evt.data)
    },
    onError() {
        // 链接失败，进行重连
        clearTimeout(this.wsHeart);
        this.wsHeartflag = false;
        if (this.reconnectTime <= this.MAX_CONNECT) {
            setTimeout(() => {
                this.msg = this.msg+"<br>"+"重新连接"
                this.onOpen();
                this.reconnectTime+=1;
            }, 5000);
        } else {
            this.msg = this.msg+"<br>"+"连接错误"
            this.onClose();
        }
    },
    onClose() {
        this.msg = this.msg+"<br>"+"断开连接"
        this.wsHeartflag = false;
        this.webSocketObj && this.webSocketObj.close && this.webSocketObj.close();
    },
  },
  destroyed() {
      this.onClose();
  },
};
</script>

<style lang="scss" scoped>
  .normal-page {
    padding-top: 80px;
  }
</style>
